<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Jasmine Spec Runner v2.0.0</title>

  <link rel="shortcut icon" type="image/png" href="./jasmine_favicon.png">
  <link rel="stylesheet" type="text/css" href="./jasmine.css">

  <script type="text/javascript" src="./jasmine.js"></script>
  <script type="text/javascript" src="./jasmine-html.js"></script>
  <script type="text/javascript" src="./console.js"></script>
  <script type="text/javascript" src="./jasmine2-junit.js"></script>
  <script type="text/javascript" src="./boot.js"></script>

  <script type="text/javascript" src="./jquery-1.8.0.min.js"></script>
  <script type="text/javascript" src="./jquery-ui-1.8.23.custom.min.js"></script>
  <script type="text/javascript" src="./jasmine-jquery.js"></script>

  <script>
    var currentTestPath = "<%= @current_test_path %>";
    jasmine.getFixtures().fixturesPath = "<%= @current_test_path %>";
  </script>

  <% @javascripts.each do |js_file| %>
    <script type="text/javascript" src="<%= js_file %>"></script>
  <% end %>

  <script type="text/javascript" src="./ConsoleHelperNoColor.js"></script>
</head>

<body>
</body>
</html>

